* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgb(99, 25, 168);
    padding: 16px 0;
    color: rgb(255, 255, 255);
    display: flex;
    border-bottom: 16px solid rgb(66, 11, 118);
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
    font-style: italic;
    padding-top: 50px;
}

body {
    background-color: hsl(0, 0%, 100%);
    background-image: url(./images/fundo.jpg);
    background-size: cover;
    background-position: center; 
}


header button {
    margin-left: 16px;
}

form {
    background-color: rgb(232, 232, 232);
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input,
button {
    padding: 8px;
}

button {
    background-color: green;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#cancel {
    background-color: red;
}


table {
    width: 100%;
}

table th {
    border-bottom: 2px solid black;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0, 0, 0.1);
}


table td img {
    height: 30px;
}

.container {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    border-radius: 18px;
    padding: 18px;
}

.listas {
    display: flex;    
    justify-content: space-between;
}

.coluna {
    width: 45%;        
}

ul {
    list-style: none;   
    padding: 0;
    margin: 0;
}

.container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
}

ul li{
    list-style: none;   
    padding: 8px;
    margin: 0;
}

